<div class="jumbotron">
  <h1>Welcome to alpha blog</h1>
  <p>This is my first Ruby on rails project meant as a training excercise for basics of routing, creating objects, CRUD on objects with saving to db</p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
</div>
